<!DOCTYPE html>
<html lang="es">
<%- include('partials/head', { css:'style' } ) %> 
<body>
    <!-- header -->
    <%- include('partials/header') %> 
    <!-- /header --> 
    <div class="col-12">
        <h2 class="movies__title">Peliculas</h2>
    </div>
    <!-- Mostrar Movies -->
    <% movies.forEach(movie => { %>
        <section class="movie__box">
            <a href="/movies/detail/<%= movie.id %> ">
                <article class="movie__box__data">
                    <h2><%= movie.title %></h2>
                    <p><%= movie.rating %></p>
                    <p><%= movie.awards %></p>
                </article>
            </a>
        </section>
    <% }) %>
</body>
</html>