<!DOCTYPE html>
<html lang="es">
<%- include('partials/head', { css:'style' } ) %> 
<body>
    <!-- header -->
    <%- include('partials/header') %> 
    <!-- /header --> 
    <div class="col-12">
        <h2 class="movies__title">Peliculas ordenadas por fecha</h2>
    </div>
    <!-- Mostrar Movies -->
    <% moviesTop.forEach(movieTop => { %>
        <section class="movie__box">
            <a href="/movies/detail/<%= movieTop.id %> ">
                <article class="movie__box__data">
                    <h2><%= movieTop.title %></h2>
                    <p><%= movieTop.rating %></p>
                    <p><%= movieTop.awards %></p>
                    <p>Fecha de estreno: <%= moment(moment.utc(movieTop.release_date)).format('DD/MM/YYYY') %></p>
                </article>
            </a>
        </section>
    <% }) %>
</body>
</html>